---
Checks: >-
  bugprone-*,
  readability-*,
  clang-analyzer-*,
  -readability-function-cognitive-complexity,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -cert-err34-c

HeaderFilterRegex: ""
FormatStyle: none
CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.MacroCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
